---
 import {Picture,Image} from "astro:assets";
 import "../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-slate-950">
		<!--create a sample header,nav, body and footer in html	 -->
		
		<header class="bg-black border-b-2 border-sky-700">
          <Picture src="/head_img.png" formats={["avif","webp"]} alt="hacktoberfest"
		  width="500" height="500" 
		  />
		</header>

	
 

		<main class="flex justify-center items-center flex-col gap-2 min-h-screen">
          <p>
			<h1 class="text-4xl text-sky-700">Welcome to Astro🚀</h1>
			<Picture src="/hacktober_banner.png" formats={["webp","avif"]} class="border border-sky-400 shadow-lg shadow-sky-600" alt="hacktoberfest banner" width="800"
			height="600"/>
			<p class="text-slate-200">This is a Hacktoberfest Project Template for Astro </p>
			<p class="text-slate-200"> YAY!!🤩 Happy Hacktoberfest</p>
		  </p>
 

		  <h3 class="font-krona text-lg">Here are some points about Hacktoberfest</h3>
		  <ul class="flex flex-col my-4 gap-1 border border-amber-600 px-2 font-sora-500 rounded-md">
			

<li>Hacktoberfest is a month-long celebration of open source software run by DigitalOcean and DEV</li>
<div class="divider"></div>
<li>Hacktoberfest is open to everyone and it marks the celebration of Open Source</li>
<div class="divider"></div>
<li>Hacktoberfest happens every year in the month of October</li>
<div class="divider"></div>
<li>Hacktoberfest encourages newbies to participate in Open Source and create their first meaningful pull request</li>
<div class="divider"></div>
<li>Hacktoberfest participants can contribute to any public repository on GitHub that has the hacktoberfest topic</li>
<div class="divider"></div>
<li class=" mb-2">Hacktoberfest participants can also get Digital Rewards for completing the challenge</li>


		  </ul>

		 
		</main>
		<footer class="bg-black text-3xl text-sky-600 p-2 flex justify-center items-center">
			Hacktoberfest 2023 &copy; All rights reserved
	   </footer>
	</body>
</html>
