---
 import {Picture} from "astro:assets";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-slate-950">
		<!--create a sample header,nav, body and footer in html	 -->
		
		<header class="bg-black border-b-2 border-sky-700">
          <Picture src="/head_img.png" formats={["avif","webp"]} alt="hacktoberfest"
		  width="500" height="500" 
		  />
		</header>

		<main class="flex justify-center items-center flex-col gap-2 min-h-screen">
          <p>
			<h1 class="text-4xl text-sky-700">Welcome to Astro🚀</h1>
			<p class="text-slate-200">This is a Hacktoberfest Project Template for Astro </p>
			<p class="text-slate-200"> YAY!!🤩 Happy Hacktoberfest</p>
		  </p>

		 
		</main>
		<footer class="bg-black text-3xl text-sky-600 p-2 flex justify-center items-center">
			Hacktoberfest 2023 &copy; All rights reserved
	   </footer>
	</body>
</html>
